:root{
    --primary: #eef0f3;
}

.btn-transform{
    transition: 0.5s ease;
}
.btn-transform:hover{
    transform: scale(1.05, 1.05);
    color: orange;
}
.btn-transform:hover, .white-btn:hover{
    border-color: #323232;
}

.moving-element {
    animation: upDown 2s ease-in-out infinite;
  }

@keyframes upDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }


.project-btn{
    width: 200px;
}

.project-btn:hover{
    background-color: black;
    color: orange;
}

img {
    transition: 0.5s ease-in-out; /* Ensures smooth transition */
}

.proj-div:hover img {
    transform: scale(1.05);
}

.recommend-div{
    background-color: var(--primary);
    border-radius: 5px;
    padding: 20px;
}

.tech-div{
    background-color: var(--primary);
    border-radius: 5px;
    padding: 5px;
}

.experience-div{
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px;
}

.circle{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
    transform: translateX(-30px)
}

ul{
    list-style: disc;
}