

{% extends "base.html" %}
{% load static %}

{% block title %}Experience{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<h1 class="text-[45px] md:text-[55px] lg:text-[70px] font-semibold pb-[40px]">Experience</h1>
<div class="flex gap-3">
    <div class="border-r-2 border-black">

    </div>
    <div class="flex flex-col gap-5 flex-grow">
        <div class="experience-div flex relative flex-col gap-2 text-[13px] md:text-[16px]">
            <div class="flex gap-3">
                <span class="font-semibold">Software Associate Engineer</span>
                <span class="font-semibold"> | </span>
                <h2>February 6, 2025 - Present</h2>
            </div>
            <span class="font-semibold">- Lorem, ipsum.</span>
            
            <ul class="pl-[30px]">
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maxime officia ullam quibusdam odit aut? Vitae unde illum fugit, quod pariatur officia architecto excepturi 
                    officiis animi non quas rerum laboriosam est!.
                </li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maxime officia ullam quibusdam odit aut? Vitae unde illum fugit, quod pariatur officia architecto excepturi 
                    officiis animi non quas rerum laboriosam est!.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maxime officia ullam quibusdam odit aut? Vitae unde illum fugit, quod pariatur officia architecto excepturi 
                    officiis animi non quas rerum laboriosam est!.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maxime officia ullam quibusdam odit aut? Vitae unde illum fugit, quod pariatur officia architecto excepturi 
                    officiis animi non quas rerum laboriosam est!.</li>
                <li>Used: <span class="font-semibold">HTML, CSS, JavaScript, Python, Django, PostgreSQL.</span></li>
            </ul>
            <div class="circle"></div>
        </div>
        <div class="experience-div flex relative flex-col gap-2 text-[13px] md:text-[16px]">
            <div class="flex gap-3">
                <span class="font-semibold">Software Associate Engineer</span>
                <span class="font-semibold"> | </span>
                <h2>February 6, 2025 - Present</h2>
            </div>
            <span class="font-semibold">- Lorem, ipsum.</span>
            
            <ul class="pl-[30px]">
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maxime officia ullam quibusdam odit aut? Vitae unde illum fugit, quod pariatur officia architecto excepturi 
                    officiis animi non quas rerum laboriosam est!.
                </li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maxime officia ullam quibusdam odit aut? Vitae unde illum fugit, quod pariatur officia architecto excepturi 
                    officiis animi non quas rerum laboriosam est!.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maxime officia ullam quibusdam odit aut? Vitae unde illum fugit, quod pariatur officia architecto excepturi 
                    officiis animi non quas rerum laboriosam est!.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maxime officia ullam quibusdam odit aut? Vitae unde illum fugit, quod pariatur officia architecto excepturi 
                    officiis animi non quas rerum laboriosam est!.</li>
                <li>Used: <span class="font-semibold">HTML, CSS, JavaScript, Python, Django, PostgreSQL.</span></li>
            </ul>
            <div class="circle"></div>
        </div>
    </div>
</div>


{% endblock %}