

{% extends "base.html" %}
{% load static %}

{% block title %}Experience{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<h1 class="text-[45px] md:text-[55px] lg:text-[70px] font-semibold pb-[40px]">Experience</h1>
<div class="flex gap-3">
    <div class="border-r-2 border-black">

    </div>
    <div class="flex flex-col gap-5 flex-grow">
        <div class="experience-div flex relative flex-col gap-2 text-[13px] md:text-[16px]">
            <div class="flex gap-3">
                <span class="font-semibold">Profession</span>
                <span class="font-semibold"> | </span>
                <h2>February 6, 2025 - Present</h2>
            </div>
            <span class="font-semibold">- Company</span>
            
            <ul class="pl-[30px]">
                <li>
                    wapa
                </li>
                <li>wapa</li>
                <li>wapa</li>
                <li>wapa</li>
                <li>Used: <span class="font-semibold">HTML, CSS, JavaScript, Python, Django, PostgreSQL.</span></li>
            </ul>
            <div class="circle"></div>
        </div>
        <div class="experience-div flex relative flex-col gap-2 text-[13px] md:text-[16px]">
            <div class="flex gap-3">
                <span class="font-semibold">Profesion</span>
                <span class="font-semibold"> | </span>
                <h2>September 05, 2022 - January 20, 2023</h2>
            </div>
            <span class="font-semibold">- Cebu Technological University - Danao Campus</span>
            
            <ul class="pl-[30px]">
                <li>
                    hays
                </li>
                <li>nganu</li>
                <li>nibalhin</li>
                <li>ko</li>
                <li>Used: <span class="font-semibold">HTML, CSS, JavaScript, Python, Django, PostgreSQL.</span></li>
            </ul>
            <div class="circle"></div>
        </div>
    </div>
</div>


{% endblock %}